.position-toggle{
    position: absolute;
    left: 1810px;
    top: 1011px;
    
}
.container-toggle img{
    width: 68px;
    height: 68px;
}
.rata-ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #F2F2F2;
}
.rata-ul p{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}
.disable-icon{
    display: none;
}
.container-box{
    position: relative;
    float: right;
}
.position-inbox{
    position: absolute;
    left: 1732px;
    top: 985px;
}
.position-task{
    position: absolute;
    left: 1646px;
    top: 985px;
}
.active{
    display: none;
}
.bg-change{
    background-color: black;
}
.inbox{
    fill: #8785FF;
}
.inbox2{
    fill: #F2F2F2;
}
.task{
    fill: #F8B76B;;
}
.task2{
    fill: #F2F2F2;
}