@font-face {
  font-family: "lato-regular";
  src: url('./assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: "lato-bold";
  src: url('./assets/fonts/Lato-Bold.ttf');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #0F8A69;
  font-family: "lato-regular";

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
